.input{
    bottom: 0%;
    position: fixed;
    margin-bottom: 10px
}
.scroll { 
    white-space: nowrap; 
}

.box1{
    width: 100%;
    margin:0%;
}

.toolbar-background {
    background-color:  #8F2323;
  }

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { 
    color: map-get($colors, light); 
    font-family:'Helvetica Neue', 'Open Sans', sans-serif;
    font-size: 20px
    
}

.toolbar{
    height: 75px;
}

.btn{
    float:right;
    right:0%;
    color:#8F2323;
    font-size: 20px;
    padding-right:30px;
    padding-left:0px;
}

.postbtn{
    background-color: rgba(196, 196, 196, 0.83);
    border-radius: 10px;
    color: black;
    height: 30px;
}

#post{
    background-color: rgb(223, 222, 222);
    border-radius: 10px;
    width: 20em;
    height: 30px
}

#profileimg{
    background-image:'./assets/imgs/profile.png';
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left:15px;
}

.text{
    margin:auto;
    color:black;
}

#addmenu{
    bottom: 0%;
    position: fixed;
    width:250px;
    height:20px;
    border:1px black solid;
    border-radius: 20px;
    margin-left:15px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.addbtn{
    bottom: 0%;
    position: fixed;
}

.proimg{
    width:200px;
    height: 200px;
    border-radius: 200px;
    margin:auto
}

.profiletxt{
    font-size:20px;
    font: italic;
}

#sidebar{
    background-color: #FFA500;
}



