.input{
    bottom: 0%;
    position: fixed;
    margin-bottom: 10px;
    height: 40px;
    width: 60px
}
.scroll { 
    white-space: nowrap; 
}

.box1{
    width: 100%;
    margin:0%;
}

.toolbar-background {
    background-color:  #660000
  }

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { 
    color: map-get($colors, light); 
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.toolbar{
    height: 75px;
}

.btn{
    float:right;
    right:0%;
    color:#660000;
    font-size: 20px;
    padding-right:30px;
    padding-left:0px;
    font-family: 'Helvetica'
}

.postbtn{
    background-color: rgba(208, 208, 208, 0.98);
    border-radius: 20px;
    color: #5A5A5A;
    height: 40px;
    width: 50px
}

#post{
    background-color: rgb(223, 222, 222);
    border-radius: 20px;
    width: 20em;
    height: 30px
}

#profileimg{
    background-image:'./assets/imgs/profile.png';
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left:15px;
}

.text{
    margin:auto;
    color:black;
}

#addmenu{
    bottom: 0%;
    position: fixed;
    width:250px;
    height:20px;
    border-radius: 20px;
    margin-left:15px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.addbtn{
    bottom: 0%;
    position: fixed;
}

.proimg{
    width:200px;
    height: 200px;
    border-radius: 200px;
    margin:auto
}

.profiletxt{
    font-size:20px;
    font: italic;
}


ion-list{
    background-color: #FFA500;
}

.lists{
    background-color: #FFA500;
    border:2px;
    border-color: rgba(255, 166, 0, 0);
    align-items: flex-start;
}

p{
    font-family: 'Helvetica Neue';
    color: black;
}


ion-avatar img{
    display: inline-block;
    vertical-align: middle;
}

.profileicon{
    width: 30px;
    height: 30px;
}