.input{
    bottom: 0%;
    position: fixed;
    margin-bottom: 10px;
}
.scroll { 
    white-space: nowrap; 
}

.box1{
    width: 100%;
    margin:0%;
}

.toolbar-background {
    background-color:  #660000
  }

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp { 
    color: map-get($colors, light); 
    font-family: 'Hermeneus One';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.toolbar{
    height: 75px;
}

.btn{
    float:right;
    right:0%;
    color:#660000;
    font-size: 20px;
    padding-right:30px;
    padding-left:0px;
    font-family: 'Helvetica'
}

.postbtn{
    background-color: rgba(208, 208, 208, 0.98);
    border-radius: 20px;
    color: #5A5A5A;
    height: 33px;
    width:25%;
    bottom: 0%;
    position: fixed;
    right:2%;
    margin-bottom:10px;

}

#post{
    background-color: rgb(223, 222, 222);
    border-radius: 20px;
    width: 20em;
    height: 30px
}

#profileimg{
    background-image:'../assets/imgs/profile2.png';
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left:15px;
}

.text{
    margin:auto;
    color:black;
}

#addmenu{
    bottom: 0%;
    position: fixed;
    width:250px;
    height:20px;
    border-radius: 20px;
    margin-left:15px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.addbtn{
    bottom: 0%;
    position: fixed;
}

.proimg{
    width:200px;
    height: 200px;
    border-radius: 200px;
    margin-left: 25%;
}

.profiletxt{
    font-size:20px;
    font: italic;
}


ion-list{
    background-color: #FFA500;
}

.lists{
    background-color: #FFA500;
    border:2px;
    border-color: rgba(255, 166, 0, 0);
    align-items: flex-start;
}

p{
    font-family: 'Helvetica Neue';
    color: black;
}


ion-avatar img{
    display: inline-block;
    vertical-align: middle;
}

.profileicon{
    width: 30px;
    height: 30px;
}

.txtinput{
    bottom: 0%;
    position: fixed;
    margin-bottom: 10px;

}

.sideinfo{
   padding-left:42px;
}

.info{
    background-color: white;
    font-size: 25px;
    left:0%
}
.profileinfo{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(164, 164, 164, 0.518);
}

#editbtn{
    background-color:white;
    color:#5796F6;
    margin-left: 42%;
    margin-bottom:25px
}

.savebtn{
    color: black;
    border-radius: 20px;
    width: 70%;
    height: 35px;
    margin-left: 12%;
    font-size: 25px;
    bottom:0%;
    position:fixed;
    margin-bottom:10px;
}

.menubtn{
    border-radius: 10px;
    background-image:"./assets/imgs/profile2copy.png";
}

.profileFont{
    font-style: italic;
    font-size:25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

}

.align{
    bottom:0%;
    position:fixed;
    margin-top:10px;
    margin-left:20%;
}