<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-row>
          <button ion-button (click)="profilePage()" id="profileimg"></button>
          <ion-title>Marty McFLy</ion-title>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  
    <ion-content padding>
        <ion-list> 
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>

          <button id='addmenu'>Add New Channel</button>
  
        </ion-list>
        <!-- <button ion-button *ngFor="let p of pages" (click)="addPeriod()"> Add new Period
          {{ p.title }}
        </button> -->
    </ion-content>
  
  </ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>